<link rel="stylesheet" href="/static/css/pipeline.css">
<script src="/static/js/pipeline.js"></script>
<h1>CI/CD Pipeline</h1>
    <div >
        <div style="margin-top: 40px;">
            <button class="start-button" onclick=""> Run ❯ </button>

            Project:
            <select>
                <option value="screenbros">screenbros</option>
            </select>

            
        </div> 
        <div class="pipeline">

        <div class="stage">
            <div class="status pending">Pending</div>
            <h2>1. Configuration</h2>
            <p>Set the details for deployment.</p>
            <span style="font-size: xx-large;cursor: pointer;position: absolute;bottom: 10px;right: 10px;">&#9881;</span>
        </div>

        <div class="stage">
            <h2>2. Checkout</h2>
            <p>Pull the latest code from the repository.</p>
            <div class="status pending">Pending</div>
        </div>
        <div class="stage">
            <h2>3. Build</h2>
            <p>Compile the code and create build artifacts.</p>
            <div class="status pending">Pending</div>
        </div>
        <div class="stage">
            <h2>4. Test</h2>
            <p>Run unit and integration tests.</p>
            <div class="status pending">Pending</div>
        </div>
        <div class="stage">
            <h2>5. Deploy</h2>
            <p>Deploy the application to the staging environment.</p>
            <div class="status pending">Pending</div>
        </div>
        <div class="stage">
            <h2>6. Release</h2>
            <p>Release the application to production.</p>
            <div class="status pending">Pending</div>
        </div>
        <div class="stage">
            <h2>7. Monitor</h2>
            <p>Monitor application performance and logs.</p>
            <div class="status pending">Pending</div>

        </div>
    </div>
    </div>