[Unit]
Description=My Flask App Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/my_flask_app
ExecStart=/home/ubuntu/my_flask_app/.venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
